.header {
    width: 100%;
    height: 130px;
    .menus {
        ul.menu {
            li {
                float: right;
                padding: 10px 0 10px 10px;
                list-style: none;
                position: relative;
                a {
                    text-decoration: none;
                    color: #59636C;
                    font-size: 16px;
                    font-family: Verdana;
                }
            }
        }
    }
    .contact_no {
        background-image: url(images/teleIcon.jpg);
        background-repeat: no-repeat;
        background-position: left center;
        display: block;
        width: 357px;
        height: 70px;
        float: right; 
        p {
            font-size: 20px;
            font-family: Verdana;
            color: #59636C;
            margin: 20px 0 20px 39px;
        }
    }
}
.footer {
    width: 100%;
    height: 400px;
    background-color: #373739;
    color: white;
    position: absolute;
    left: 0;
    
    #footer {
        width: 1024px;
        margin: auto;
        height: 399px;
        #footer_above {
            width: 100%;
            height: 337px;
            #about_us {  
                width: 34%;
                height:300px;
                float: left;
                p{
                    text-align: justify;
                    width: 349px;
                    height: 54%;
                    float: left;
                    font-family: Verdana;
                    font-size: 13px;                    
                }
            }
            #contact_us {
                width: 27%;
                height: 337px;
                float: left;
                margin-left: 20px;
                #contact_form {
                    ul {
                        list-style: none;
                        padding: 0;
                        li {
                            position: relative;
                            label {
                                font-family: Verdana;
                                font-size: 13px;
                                left: 4px;
                                line-height: normal;
                                position: absolute;
                                top: 15px;
                            }
                            input {
                                width: 267px;
                                height: 44px;
                                margin-bottom: 10px;
                                color: black;
                                background-color: gray;
                                border: none;
                                display: block;
                                padding: 5px;
                            }
                            textarea {
                                width: 200px;
                                margin-bottom: 10px;
                                color: black;
                                background-color: gray;
                                border: none;
                                width: 267px;
                                height: 77px;
                                display: block;
                                padding: 5px;
                            }
                            input[type='button'] {
                                width: 107px;
                                background-image: url(images/sendButton.jpg);
                                background-repeat: no-repeat;
                                display: block;
                                height: 39px;
                            }
                        }
                    }
                }
            }
            #technomics_blog {
                width: 35% ;
                height: 300px;
                float: left;
                margin-left: 20px;
                #first_blog {
                    color: white;
                    display: block;
                    height: 24%;
                    width: 100%;
                    h6 {
                        font-family: Verdana;
                        font-size: 13px;
                        font-weight: normal;
                        margin: 0 0 4px 0;
                        text-align: left;
                    }
                    p {
                        font-family: Verdana;
                        font-size: 11px;
                        font-weight: normal;
                        margin: 0;
                        text-align: justify;
                    }
                }
                #second_blog {
                    color: white;
                    display: block;
                    height: 24%;
                    width: 100%;
                    margin-top: 7px;
                    h6 {
                        font-family: Verdana;
                        font-size: 13px;
                        font-weight: normal;
                        margin: 0 0 4px 0;
                        text-align: left;
                    }
                    p {
                        font-family: Verdana;
                        font-size: 11px;
                        font-weight: normal;
                        margin: 0;
                        text-align: justify;
                    }
                }
                #third_blog {
                    color: white;
                    display: block;
                    height: 24%;
                    width: 100%;
                    margin-top: 7px;
                    h6 {
                        font-family: Verdana;
                        font-size: 13px;
                        font-weight: normal;
                        margin: 0 0 4px 0;
                        text-align: left;
                    }
                    p {
                        font-family: Verdana;
                        font-size: 11px;
                        font-weight: normal;
                        margin: 0;
                        text-align: justify;
                    }
                }
            }
        }
        #footer_below {
            width: 100%;
            height: 24px;
            p{
                margin: auto;
                font-family: Verdana;
                font-size: 13px; 
                color: gray;   
            }
        }
    }
}

.overTxtLabel { 
    color: #FFF; 
    top: 15px;
}

.container {
    width: 1024px;
    height: 100%;
    margin: auto;
}


#home_page {
    background-color: #F1F1F1;
    .content {
        height: 562px;
        width: 100%;
        margin-top: 482px;
        #contents {
            width: 100%;
            height: 320px;
            #site_feature {
                float: left;
                width: 625px;
                height: 300px;
                h3 {
                    color: #7F7F7F;
                    font-size: 27px;
                    font-weight: normal;
                    margin: 27px 0 6px 0;
                }
                p {
                    text-align: justify;
                    width: 349px;
                    height: 54%;
                    float: left;
                    font-family: Verdana;
                    font-size: 13px;
                    display: block;
                    a {
                        float: left;
                        display: block;
                        font-size: 13px;
                        text-decoration: none;
                        color: red;
                        font-family: Verdana;
                        margin-top: 22px;
                    }
                }
                img {
                    display: block;
                    float: left;
                    margin: 34px 0px 89px 22px;
                    width: 251px;
                }
            }
            #news_events {
                float: left;
                width:350px;
                height:300px;
                margin-left: 40px;
                h3 {
                    color: #7F7F7F;
                    font-size: 27px;
                    font-weight: normal;
                    margin: 27px 0 6px 0;
                }
                p{
                    text-align: justify;
                    width: 349px;
                    height: 54%;
                    float: left;
                    font-family: Verdana;
                    font-size: 13px;
                }
                a{
                    float: left;
                    font-size: 13px;
                    text-decoration: none;
                    color: red;
                    font-family: Verdana; 
                    margin-top: 22px;
                }
            }
        }
        #testimonial_bg {
            width: 100%;
            height: 350px;
            background-image: url(images/TestimonialsBg.jpg);
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            left: 0;
            #testimonial {
                width: 1024px;
                height: 300px;
                margin: auto;
                h3 {
                    font-size: 27px;
                    font-weight: normal; 
                    font-family: Verdana;
                    margin: 8px 0 0 0;
                    a {
                        font-size: 27px;
                        font-weight: normal; 
                        font-family: Verdana;
                        margin: 8px 0 0 0;
                    }
                }
                p{
                    text-align: justify;
                    width: 354px;
                    height: 60%;
                    float: left;
                    font-family: Verdana;
                    font-size: 13px; 
                }
                #testimonial_readmore{
                    float: left;
                    font-size: 13px;
                    text-decoration: none;
                    color: red;
                    font-family: Verdana; 
                    margin-top: 10px;
                }
            }
        }
    }
}

#services_page {
    background-color: #F4F4F4;
    .container {
        .banner {
            left: 0;
            position: absolute;
            width: 100%;
            height: 270px;
        }
        #content_section {
           
            font-family: Verdana;
            font-size: 13px;
            color:gray;
            text-align:justify;
            padding-bottom: 22px;
            h3{
                font-family: Verdana;
                font-size: 26px;
                font-weight: 200;
            }
        }

        .content {
            margin-top: 300px;
            font-family: Verdana;
            font-size: 13px;
            color:gray;
            a{
                text-decoration: none;
                color: red;
            }
        }
        #services_section{
            display: block;
            display: block;
            height: 475px;
            width: 100%;
            text-align:justify;
            h3{
                color: white;
                font-family: Verdana;
                font-size: large;
                font-weight: bold;
                text-align: left;
                width: 96%;
                text-decoration: none;
                background-color: gray;
                height: 35px;
                padding-top: 12px;
                padding-left: 20px;
            }
        }
        .left_section{
            display: block;
            float: left;
            width: 475px;
            padding-right: 74px;


        }
        .right_section{
            display: block;
            float: left;
            width: 475px;
        }
    }
}