{% extends "base.html" %}
{% load media %}
{% load thumbnail %}
{% block title %}<title> Industries | Banking and Financial | Technomics Solutions </title>{% endblock title %}
{% block body_tags %}id="bankingandfinancial"{% endblock body_tags %}
{% block banner %}
    <div class="banner">   
	</div>
{% endblock banner %}


{% block content %}
	<div id="banking_and_financial">
		<p>
			Technomics offers a next generation global Enterprise Banking Platform enabling banks to achieve a consolidated view of any customer across all service delivery channels, thus extending their customer reach.
			The available functionality satisfies the requirements of both, Retail and Corporate banking.
		</p>
		<ul> <a href="#"> Features </a>
			<li>Extensively parameterized</li>
			<li>User definable validations</li>
			<li>Secure through maker-checker concept</li>
			<li>User definable charges</li>
			<li>Multi language support</li>
			<li>Service branch</li>
			<li>Over 1500 built in reports</li>
			<li>Interfaces to various channels</li>
			<li>Built in report writer for others</li>
		</ul>

		<ul> <a href="#">Browser Based</a>
			<li>Technomics is cross browser compatible application.</li>
		</ul>

		<ul><a href="#">Open Platform</a>
			<li>It can be implemented on a wide range of hardware and software platforms – leaving you free to choose them depending on the exact requirements and situation. Choose from Windows, Linux, and various versions of Intel-UNIX and various versions of RISC-UNIX.</li>
		</ul>

		<ul><a href="#">Standards Compliant</a>
			<li>Technomics complies with ISO 8583 standards.</li>	
		</ul>

		<ul><a href="#">Highly Scalable</a>
			<li>Technomics uses component based, J2EE framework for development. Technomics is entirely a Stateless Application. Among others, this framework provides a high degree of scalability.</li>
		</ul> 

		<ul><a href="#">Web Service Enabled</a>
			<li>Technomics is Web service enabled and allows integration with other applications.</li>
		</ul>

		<ul><a href="#">Functionality</a>
			<li>Demand Deposits: Savings, Current, etc.</li>
			<li>Time Deposits: Simple, Cumulative, Recurring, Flexi, etc.
			MAS / AIMAS</li>
			<li>Demand Loans: Over Draft, Cash Credit, Hypothecations, pledge, supply bills, packing credits, etc.</li>
			<li>Term Loans: Short, Long, Medium Term Loans, Mortgages, etc.</li>
			<li>General Ledger: Back Office, Trial Balance, Balance Sheet, Profit/Loss</li>
			<li>Bills: OBC/IBC, BP, BD, FOBC, FIBC, FBP, FBN</li>
			<li>Bank Guarantees: Inland, Foreign, Performance, Financial</li>
			<li>Letters of Credits: Inland, Foreign, Irrevocable, Back to Back</li>
			<li>Transactions: Cash Deposits and Payments, Clearing Inward and Outward, Transfers between Accounts,</li> 
			<li>Interest: Calculation and Application</li>
			<li>Various Charges: Calculation and Application Exchange of Currencies
			NPA Management</li>
		</ul>
		
		<ul><a href="#">Services</a>
			<li>Personal information, Signature/Photograph Capture/Retrieval, Memo Creation for an Account and display Safe Deposit Lockers, Remittances (DD, PO, MT, TT etc.) Funds Transfer, Standing Instructions, Other Foreign Exchange Activities </li>
		</ul>

		<ul><a href="#">Interfaces</a>
			<li>Standard 8583 interface, ATM transactions, POS, Debit Cards, Mobile Banking, Tele Banking, SMS, Internet Access, Payment Gateway Interface (Utility Bill Payment etc) Interface to pigmy devices </li>
		</ul>

		<ul><a href="#">Reports & Queries</a>
			<li>Statutory, Mandatory, As and When, Over 400 standard reports, Oracle and Crystal can be used in addition </li>
		</ul>

		<ul><a href="#">Flexible Financial Channel Integration</a>
			<li>Technomics connects to various financial systems and devices through an open delivery channel controller. The controller is a network enabled component which listens to various devices through an standard message format like ISO8583 and XML.</li>
			<li>Open channel allows integration with channels such as ATM, POS devices, Payment gateways IVRs, internet, mobile.</li>
		</ul>
	</div>
{% endblock %}