{% extends "base.html" %}
{% load media %}
{% load thumbnail %}
{% block title %}<title> Blogs | Technomics Solutions </title>{% endblock title %}
{% block body_tags %}id=blogs{% endblock body_tags %}
{% block banner %}
    <div class="banner">   
</div>
{% endblock banner %}

{% block content %}
    {% if blogs %}
        {% for blog in blogs %}
            <div class="clear blog">
                <h1>{{ blog.title }}</h1>
                <p>On {{ blog.created_date }} {{ blog.author }} wrote</p>
                <p>{{ blog.description }}</p>
            </div>
            
            {% with comments=blog.comment_set.all %}
                {% if is_staff %}
                    <a href="{% url 'add_blog_comment' blog_id=blog.id %}?page={{ blogs.number }}">Leave a comment</a>
                {% endif %}
                <div>
                    {% if blog_id %}
                        {% if blog_id = blog.id %}
                            <form id="comment_form" action="{% url 'add_blog_comment' blog_id=blog.id %}?page={{ blogs.number }}" method="post" enctype="multipart/form-data" >
                                <table>
                                    {{ comment_form.as_p }}
                                </table>
                                {% csrf_token %}
                                <input type="button" id="send_comment" value="Submit" >
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
                <div>
                    {% if comments %}
                        <h2>Comments</h2>
                        {{ comments.0.created_date }}
                        {{ comments.0.author }}
                        {{ comments.0.description }}
                        {{ comments.1.created_date }}
                        {{ comments.1.author }}
                        {{ comments.1.description }}
                        {{ comments.2.created_date }}
                        {{ comments.2.author }}
                        {{ comments.2.description }}
                    {% endif %}
                </div>
            {% endwith %}
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
            {% if blogs.has_previous %}
            <a href="?page={{ blogs.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
            </span>

            {% if blogs.has_next %}
            <a href="?page={{ blogs.next_page_number }}">next</a>
            {% endif %}
            </span>
        </div>
    {% endif %}
    
    {% if is_staff %}
        <a href="{% url 'add_blog' %}">Add blog</a>
    {% endif %}

    <p id="hidden_blog_id" name="{{ blog_id }}"></p>
{% endblock %}


