{% extends "base.html" %}
{% load media %}
{% load thumbnail %}
{% block title %}<title> Contact Us | Technomics Solutions </title>{% endblock title %}
{% block body_tags %}id="contactus"{% endblock body_tags %}
{% block banner %}
    {% include 'slideshow.html' %}
{% endblock banner %}


{% block content %}
    
    {% if blogs_formset.0 %}
        {% for blog, form in blogs_formset %}
<!--        form in formset.forms-->
            <h1> 
                {{ blog.title }}
                {{ blog.description }}
                {{ blog.author }}
                <br> 
            </h1>
            <h2>Comments</h2>
            {% with comments=blog.comment_set.all %}
<!--                form for adding comment-->
                {{ form.as_p }}
                {% if comments %}
                    {% for comment in comments %}
                        <p>
                            {{ comment.author }}
                            {{ comment.description }}
                            <br>
                        </p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        
        {% endfor %}
    {% endif %}
    
<!-- here a comment form is needed   -->


    <div id="">
        <h1> Add blog</h1>
        </div> 
        <div id="" >
            <form id="blogs_form" method="post" action="add_blog" >{% csrf_token %}
                <ul>
                    <li> 
                        <label title="Title" for="title">Title</label>
                        <input type="text" name="title" id="title" title="Title"/>
                    </li>
                    <li>
                        <label title="Description" for="description">Description</label>
                        <input type="text" name="description" id="description" title="Description"/>
                    </li>
                    <li>
                        <label for="Author" title="author">Author</label>
                        <input type="text" name="author" id="author" title="Author">
                    </li>
                    <li>
                        <input type="submit" value="Submit">
                    </li>
                </ul>
            </form>
        </div>
    </div>
{% endblock %}
