{% extends "base.html" %}
{% load media %}
{% load thumbnail %}
{% block title %}<title> Blogs | Technomics Solutions </title>{% endblock title %}

{% block body_id %}blogs{% endblock body_id %}
{% block banner %}
    <div class="banner">   
</div>
{% endblock banner %}

{% block content %}
    {% if blogs %}
        {% for blog in blogs %}
            <div class="blogs_div">
                <h1>{{ blog.title }}</h1>
                <p class="blog_description">{{ blog.description|safe }}</p>
                <p class="blog_details"> {{ blog.created_date }} {{ blog.author.first_name }} {{ blog.author.last_name }}</p>   
                {% if blog.author == user %}
                    <a class="edit_button" href="{% url 'edit_blog' blog_id=blog.id %}" >Edit Blog</a>
                {% endif %}               
                <div class="comment_div">
                    <div class="comments">
                        <h2>Comments</h2>
                        {% for comment in blog.comment_set.all|slice:":3" %}
                            {% if comment%}
                            <div class="comment">
                                <p class="comment_description">{{ comment.description }}</p>
                                <p class="comment_details">{{ comment.created_date }}
                                {{ comment.author.first_name }}&nbsp{{ comment.author.last_name }}
                                </p>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <form id="{{ blog.id }}" class="form_comment" method="post" enctype="multipart/form-data" >
                        {{ comment_form }}
                        {% csrf_token %}
                        <div class='comment_button_div'>
                            <a href="{% url 'render_menupage' menuslug='blog'%}" class='comment_cancel_button'>
                                <input type="button" value="Cancel">
                            </a>
                            <input type="button" class="comment_submit" value="Submit" >
                            
                        </div>
                    </form>
                    {% if is_staff %}
                        <a class="blog_comment" >Leave a comment</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        
        <div class="pagination">
            <span class="step-links">
                {% if blogs.has_previous %}
                    <a href="?page={{ blogs.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
                </span>

                {% if blogs.has_next %}
                    <a href="?page={{ blogs.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    
    {% if is_staff %}
        <div class="add_blog">
            <a href="{% url 'add_blog' %}" class="add_blogs">New Blog</a>
        </div>
    {% endif %}

    <p id="hidden_blog_id" name="{{ blog_id }}"></p>
{% endblock %}


