{% extends "base.html" %}
{% load media %}
{% load thumbnail %}
{% block title %}<title> Blogs | Technomics Solutions </title>{% endblock title %}
{% block extrahead %}
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: "textarea",
            theme: "modern",
            width: 1000,
            height: 300,
            plugins: [
                 "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                 "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                 "save table contextmenu directionality emoticons template paste textcolor"
           ],
           content_css: "css/content.css",
           toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons", 
           style_formats: [
                {title: 'Bold text', inline: 'b'},
                {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                {title: 'Example 1', inline: 'span', classes: 'example1'},
                {title: 'Example 2', inline: 'span', classes: 'example2'},
                {title: 'Table styles'},
                {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
            ]
         }); 
    </script>
{% endblock extrahead %}
{% block body_id %}edit_blog{% endblock body_id %}
{% block banner %}
   <div class="banner">   
</div>
{% endblock banner %}

{% block content %}
   <div id="edit_blog_div">
        {% if form %}
            <form id="edit_blog_form" action="{% url 'edit_blog' blog_id=blog_id %}" method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                {{ form }}
                <div class="button_div">
                    <input type="submit" value="Submit">
                    <a href="{% url 'render_menupage' menuslug='blog'%}" class='cancel_button'>
                        <input type="button" value="Cancel">
                    </a>
                </div>
            </form>
        {% endif %}
        <div class="clear"></div>
    </div>
{% endblock %}

