{% extends "base.html" %}
{% load media %}
{% load thumbnail %}
{% block title %}<title> Industries | Education | Technomics Solutions </title>{% endblock title %}
{% block body_tags %}id="education"{% endblock body_tags %}
{% block banner %}
   <div class="banner"></div>
{% endblock banner %}


{% block content %}
	<div id="education">
		SRP MODULES AND FUNCTIONS 

<p>Application: This module helps you to manage the complete data about both new and existing student application.</p>
<p><b>Admission(SMS support):</b> This module processes the data from the Application Model and helps you to manage the admission procedures based on different predefined criteria and automatically send SMS to parent/Guardian when the student is selected.</p>
<p><b>Human Resource (SMS SUPPORT):</b> This module helps you to manage the recruitment process of all staffs both teaching and non teaching and maintains all employee information. It automatically sends a SMS to the prospective candidate based on the information provided by the candidate at the time of interview.</p>
<p> <b>Fees(SMS SUPPORT):</b>This module helps you to manage the complete fee structure for different standards besides calculating the concessions and scholarships if any applicable to meritorious students and automatically updates accounts. Accordingly, it sends a SMS on (1) Reminding the Parent/ Guardian of due date for payment of fees.
(2)Reminding defaulted Parents/ Guardians after the due date.
(3) Confirming the parents/Guardians immediately after receiving the fees.</p>

<p><b>Attendance-Student (SMS SUPPORT):</b> This module helps you to manage the attendance details of students. It automatically notifies 
 the parents about the absence of a student immediately on the same day through SMS.</p>
<p><b>Attendance-Teaching and Non-teaching Staff:</b> This module helps you to manage the attendance details of staff.</p>
<p><b>Reception:</b> This module helps you to keep track of the visitors for the staffs and students. It maintains a registry of new visitors, records of phone call, post and couriers both received as well as sent.</p>
<p><b>Timetable:</b> This module helps you to complete timetable schedules for both period and subject wise on a daily basis besides generating Time Table for the whole year by taking into consideration of Holidays, Examination Schedules and other events.</p>
<p><b>Online Test:</b> This module helps the students to test their knowledge every month by attending online exams. The student can login from anywhere from the world and undertake the test.</p>
<p><b>Examination (SMS SUPPORT):</b> This module helps you to manage all the data related to all the examinations conducted and maintains the performance records of each student. The parents/ Guardians’ are notified immediately after the result is declared through a SMS. It also enables the parents to view the performance of child on line.</p>
<p><b>Library(SMS SUPPORT):</b>This module helps you to manage all library related activities like Book Searching, Status of availability, Reservation of the Book and Book Issue Details besides maintaining Damage/Lost book and late fee and updates the records automatically.</p>
<p><b>Hostel(SMS SUPPORT):</b>This module helps you to manage complete details of the oste; Hostel accommodation such as hostel fee, availability of rooms, allotment of rooms, details of existing students as well as outgoing students and updates the records automatically.</p>
<p><b>Transportation:</b> This module helps you to manage the details regarding transportation facilities available to students as well as teachers and maintains the records such as transportation fees, availability of fees, pickup points etc .</p>
<p><b>Lesson Plan:</b> This module helps you to track the performance of the teachers by keeping a tab on the portions/content covered from time to time.</p>
<p><b>Homework:</b> This module acts as a learning resource for students. It manages the date wise records of homework assigned and the performance of students. The homework can be assigned to individual student or the whole class.</p>
<p><b>Accounts:</b> This module helps you to manage complete details of all your financial transactions. All financial Transactions are recorded under appropriate heads and immediately updated accordingly. </p>
<p><b>Inventory(SMS SUPPORT):</b>This module helps you to manage the entire inventory of school and maintain stock of movable and immovable assets of the school. All consumables are sorted and maintained under different categories. Whenever a particular item reaches the minimum stock position ,a SMS is sent to the person in charge.</p>
<p><b>Payroll:</b> This module helps you to manage complete payroll activities with various parameters to calculate the loans availed, advances paid and other deductions like PF to compute the staff  salaries and updates the accounts records automatically.</p>

<p><b>Alumni:</b> This module helps you to manage complete Alumni Work.</p>
<p><b>Health(SMS SUPPORT):</b>This module helps you to maintain the health records of all students and also maintain the list of doctors with their contact details for regular health checkups and emergency visit. The professional fees paid to doctors are automatically updated in the accounts records.</p>
<p><b>Promotion and Transfer:</b> This module helps you to maintain the record of students promotion, class transfer and issue of TC to the students.</p>
<p><b>Sports: </b>This module helps you to maintain sports related information like list of various sports activities and details of the participating students and maintain sports records of the students as well as the school.</p>
<p><b>Event Management:</b> This module helps you to manage the details of various events to be conducted in schools with event details, charges for participating in the event and the details of management committee. The fee paid accordingly will be updated in the accounts records.</p>
<b>Achievements:</b> This module helps you to maintain the records of the achievements of the students/staffs in various fields such as academics, sports and extracurricular activities.</p>
<p><b>Forum:</b> This module helps the students to enhance the knowledge by posting their doubts on the subject and seek clarification from teachers. This module also allows the parents/guardian to post their queries and get clarification from management and teachers on specific about their children and accordingly a SMS is sent to the parent/ Gaurdian.</p>
<p><b>Email and Chatting:</b> This module helps you to communicate with your staff easier through internet to enable you to make quick decisions on specific issues and matters of importance. The teachers can also send the reports of students such as mark sheet, attendance details through email to the parent.</p>
<p><b>SMS:</b> This module helps you to manage SMS Catering to different requirements such as single SMS, bulk SMS, automated SMS such as Birthday, Marriage day etc depending on the need.</p>

<p><b>CBSE Standard Student Evaluation Reports:</b>
All the reports related to student Evaluation as per CBSE Standards is included in SRP.</p>

<p><b>ISO Standardization:</b>
All the additional modules related to ISO shall be implemented in SRP as per the school Requirement.</p>
	</div>
{% endblock %}