{% extends "base.html" %}
{% load media %}
{% load thumbnail %}
{% block title %}<title> Careers | Technomics Solutions </title>{% endblock title %}
{% block body_tags %}id=experienced{% endblock body_tags %}
{% block banner %}
    <div class="banner"></div>
{% endblock banner %}
{% block content %}
{% if vacancies %}
    <div id="vacancy_details">
        {% for vacancy in vacancies%}
            <ul>
                <li>{{ vacancy.name }}</li>
                <li>{{ vacancy.no_of_vacancy}}</li>
                <li>{{ vacancy.opening_date}}</li>
                <li>{{ vacancy.closing_date}}</li>
                <a href="{% url 'experienced_apply' vacancy_id=vacancy.id %}">Apply</a>
            </ul>
        {% endfor %}
    </div>
{% endif %}
{% if message %}
    <div class="message">
        <h1> {{message }}</h1>
    </div>
{% endif %}
{% if form %}
    <!-- {% if message %}
        <h1> {{message }}</h1>
    {% endif %} -->
    <div id="experienced_form" class="clear">
        <form id="form_experienced" action="{% url 'experienced_apply' vacancy_id=vacancy_id %}" method="post" enctype="multipart/form-data" >{% csrf_token %}
            {{ form}} 
            <input type="submit" name="submit" id="submit_form" value="">
        </form>
    </div> 
{% endif %}
 
{% endblock %}
