{% extends "base.html" %}
{% load media %}
{% load thumbnail %}
{% block title %}<title> Careers | Experienced | Technomics Solutions </title>{% endblock title %}
{% block body_id %}experienced{% endblock body_id %}
{% block banner %}
    <div class="banner"></div>
{% endblock banner %}
{% block content %}
{% if vacancies %}
    <div id="vacancy_details">
        {% for vacancy in vacancies%}
            <h1>{{ vacancy.name }}</h1>
            <p>{{vacancy.description}}</p>
            <p>No of positions : <span class="hilight">{{ vacancy.no_of_vacancy}}</span> </p>
            <p>Opened from <span class="hilight">{{ vacancy.opening_date}}</span> to <span class="hilight">{{ vacancy.closing_date}}</span></p>
            <a href="{% url 'experienced_apply' vacancy_id=vacancy.id %}"><input type="button" name="apply" id="apply" title="Apply" value="Apply"></a>
            <hr>
        {% endfor %}    
    </div>
{% endif %}
{% if message %}
    <div class="message">
        <h1> {{message }}</h1>
    </div>
{% endif %}
{% if form %}
    <div id="experienced_form" class="clear">
        <form id="form_experienced" action="{% url 'experienced_apply' vacancy_id=vacancy_id %}" method="post" enctype="multipart/form-data" >{% csrf_token %}
            {{ form}} 
            <input type="submit" name="submit" id="submit_form" value="">
        </form>
    </div> 
{% endif %}
 
{% endblock %}
