
<div id="footer" >
    <div id="footer_above" >
        <div id="about_us" >
            {% if context_abtus %}
                <h3> <a name="about"> {{ context_abtus.title }} </a></h3>
                <hr>
                <p> {{ context_abtus.description|truncatechars:400|safe }} </p>
                <!-- image us background -->
                <a href="https://www.facebook.com/pages/Technomics-Software-Solutions/503210896439006"><img src="static/images/facebook.jpg" id="fb" ></a>
                <img src="static/images/twitter.jpg" id="twtr" >
                <img src="static/images/dribbble.jpg" id="dribl" >
                <img src="static/images/behance.jpg" id="bhanc" >
                <a href="http://www.linkedin.com/company/3356326?trk=tyah&trkInfo=tas%3Atechnomics%20solutions"><img src="static/images/youTube.jpg" id="utub" ></a>
                <img src="static/images/gplus.jpg" id="gplus" >
            {% endif %}
        </div>
        <div id="contact_us" >
            <h3> <a name="contact">Contact Us</a> </h3>
            <hr>
            <form id="contact_form" method="post" >{% csrf_token %}
                <ul>
                    <li> 
                        <input type="text" name="name" id="name" title="Name" value="" />
                    </li>
                    <li>
                        <input type="email" name="email" id="email" title="Email" value="" />
                    </li>
                    <li>
                        <textarea name="msg" id="msg" title="Message" ></textarea>
                    </li>
                    <li>
                        <input type="button" name="send" id="send" >
                    </li>
                </ul>
            </form>
        </div>
        <div id="technomics_blog" >
            <h3> Technomics Blog </h3>
            <hr>
            <div id="first_blog" >
                {% if context_fblog %}
                    <h6> {{ context_fblog.title }} </h6>
                    <p> 
                        {{ context_fblog.description }} 
                        <br>
                        {{ context_fblog.author }}
                    </p>
                    <hr>
                {% endif %}
            </div>
            <div id="second_blog">
                {% if context_sblog %}
                    <h6> {{ context_sblog.title }} </h6>
                    <p> 
                        {{ context_sblog.description }} 
                        <br>
                        {{ context_sblog.author }}
                    </p>
                    <hr>
                {% endif %}
            </div>
            <div id="third_blog">
                {% if context_tblog %}
                    <h6> {{ context_tblog.title }} </h6>
                    <p> 
                        {{ context_tblog.description }} 
                        <br>
                        {{ context_tblog.author }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div id="footer_below" >
        <p> Copyright @ 2013 technomics.com all rights reserved </p>
    </div>
</div>