
<div id="footer" >
    <div id="footer_above" >
        <div id="about_us" >
            {% if context_abtus %}
                <h3> {{ context_abtus.title }} </h3>
                <hr>
                <p> {{ context_abtus.description }} </p>
                <!-- image us background -->
                <img src="static/images/facebook.jpg" id="fb" >
                <img src="static/images/twitter.jpg" id="twtr" >
                <img src="static/images/dribbble.jpg" id="dribl" >
                <img src="static/images/behance.jpg" id="bhanc" >
                <img src="static/images/youTube.jpg" id="utub" >
                <img src="static/images/gplus.jpg" id="gplus" >
            {% endif %}
        </div>
        <div id="contact_us" >
            <h3> Contact Us </h3>
            <hr>
            <form id="contact_form" >
                <ul>
                    <li> 
                        <span id ="name_span" >
                        <input type="text" class="overTxtLabel" name="name" id="name" title="Name" value="" />
                        </span>
                    </li>
                    <li>
                        <span id= "email_span" >
                            <input type="email" name="email" id="email" title="Email" value="" />
                        </span>
                    </li>
                    <li>
                        <span id= "msg_span"  >
                            <textarea name="msg" id="msg" title="Message" ></textarea>
                        </span>
                    </li>
                    <li>
                        <input type="button" name="send" id="send" >
                    </li>
                </ul>
            </form>
        </div>
        <div id="technomics_blog" >
            <div id="blog" >
                <h3> Technomics Blog </h3>
                <hr>
            </div>
        </div>
    </div>
    <hr>
    <div id="footer_below" >
        <p> Copyright @ 2013 technomics.com all rights reserved </p>
    </div>
</div>