{% extends "base.html" %}
{% load media %}
{% load thumbnail %}
{% block title %}<title> Careers | Freshers | Technomics Solutions </title>{% endblock title %}
{% block body_tags %}id="freshers"{% endblock body_tags %}
{% block banner %}
    {% include 'banner.html' %}
{% endblock banner %}

    
{% block content %}
   {% if form %}
        <div id="fresher_form" class="clear">
            <form id="form_fresher" action="{% url 'freshers_apply' %}" method="post" enctype="multipart/form-data" >{% csrf_token %}
                {{ form}} 
                <input type="submit" name="submit" id="submit_form" value="Submit">
            </form>
        </div> 
    {% endif %}
{% endblock %}
