{% extends "base.html" %}
{% load media %}
{% load thumbnail %}
{% block title %}<title> Careers | Technomics Solutions </title>{% endblock title %}
{% block body_tags %}id="contactus"{% endblock body_tags %}
{% block banner %}
    {% include 'slideshow.html' %}
{% endblock banner %}


{% block content %}
    {% if freshersform.errors %}
        <p style="color: red;">
            Please correct the error{{ freshersform.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="{% url 'freshers_detail' %}" method="post">
        <div>
            {{ freshersform.as_p }}
        </div>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
