{% load media %}
{% load thumbnail %}
{% block body_tags %}{% endblock body_tags %}
{% block content %}
    Header Logo
    <div class="menus">
	    <ul class="menu">
	    	<li><a href="feature.html">Features</a></li>
	    	<li><a href="testimonial.html">Testimonials</a></li>
	    	<li><a href="about.html">About</a></li>
	    	<li><a href="{% url 'services' %}">Services</a></li>
	    	<li><a href="support.html">Support</a></li>
	    	<li><a href="contact.html">Contact</a></li>
	    </ul>
    </div>
    <div class="contact_no">
    	<!-- Background image -->
    	<p>Customer Care : 59539 000 97</p>
    </div>
{% endblock %}