{% extends "base.html" %}
{% load media %}
{% load thumbnail %}
{% block title %}<title> Industries | Industrial Manufacturing | Technomics Solutions </title>{% endblock title %}
{% block body_id %}industrialmanufacturing{% endblock body_id %}
{% block banner %}
    <div class="banner"></div>
{% endblock banner %}


{% block content %}
	<div id="industrialmanufacturing_div">
		<ol id="industrial_products">
			<li>SMT(Smart manufacture tool for industrial manufacturing)</li>
			<li>HOTAPP(For restaurants and food courts)</li>
		</ol>
	
		<ul>CRM - CUSTOMER RELATIONSHIP MANAGEMENT
			<li>Sales Automation</li>
			<li>Marketing Module</li>
			<li>Order Management</li>
			<li>Analytics</li>
		</ul>

		<ul>HR & PAYROLL MODULE
			<li>Administration</li>
			<li>Employee Master</li>
			<li>Expiry settings & Alert System</li>
			<li>Multiple Groups under Each Company</li>
			<li>Loans and Advances</li>
			<li>Time Sheet</li>
			<li>Vacation</li>
			<li>Leave Request & Approval Stages by Administrative </li><li>Staffs</li>
			<li>Leave Salary</li>
			<li>Performance Appraisal</li>
			<li>Gratuity and Settlement</li>
			<li>Passport Release Request Forms</li>
			<li>Salary Report</li>
			<li>WPS Report</li>
		</ul>		

		<ul>FINANCIAL MODULE
			<li>General Ledger
			<li>Accounts Receivable
			<li>Accounts Payable
			<li>Fixed Assets
			<li>Purchases and payables
			<li>Sales and Receivables
		</ul>

	</div>
{% endblock %}