{% extends "base.html" %}
{% load media %}
{% load thumbnail %}
{% block title %}<title> Services | Linux Managed Services | Technomics Solutions </title>{% endblock title %}
{% block body_id %}linux_managed_services{% endblock body_id %}
{% block banner %}
    {% include 'banner.html' %}
{% endblock banner %}


{% block content %}
	<div id="linux_managed_services_div">
		<div id="left_section">
			<p><b>OS:</b> Centos, Debian, Suse, Red Hat </p>
			<p><b>Hypervisors:</b> KVM, Xen, Virtualbox, ESXi </p>
			<p><b>Webserver:</b> Apache, Nginx, Lighthttpd </p>
			<p><b>Database:</b> Postgresql, Mysql </p>
			<p><b>Mail Server:</b> Exim, Qmail, Postfix, PowerMTA </p>
			<p><b>Scripting:</b> Bash, Perl, Python </p>
			<p><b>Software Versioning Tools:</b> SVN, Git </p>
			<p><b>Configuration management tools: </b> Puppet, Chef </p>
			<p><b>Monitoring Tools:</b> Nagios, Opennms, Zabbix, Zenoss </p>
		</div>
		<div id="right_section">
			<p><b>Public Cloud:</b> AWS, Rackspace </p>
			<p><b>Private Cloud:</b> Openstack, Opennebula, OpenQrm, Applogic, Vmware, XCP, Microsoft Azure </p>
			<p><b>High Availability Tools:</b> Pacemaker, DRBD </p>
			<p><b>Backup:</b> rsync, bacula, r1soft </p>
			<p><b>Storage:</b> Glusterfs, sheepdog, LVM, iscsi </p>
			<p><b>Firewall:</b> Sonic Firewall, iptables </p>
			<p><b>Controlpanels:</b> Cpanel, Plesk, VirtualMin, Webmin </p>
			<p><b>Hardware Support:</b> Driver Install and Support </p>
		</div>
	</div>
{% endblock %}