{% extends "base.html" %}
{% load media %}
{% load thumbnail %}
{% block title %}<title> Services | Offshore Dedicated Staffing | Technomics Solutions </title>{% endblock title %}
{% block body_tags %}id="ods_page"{% endblock body_tags %}
{% block banner %}
    {% include 'banner.html' %}
{% endblock banner %}


{% block content %}
    <div id="ods">
    	<h2> Offshore Dedicated Staffing </h2>
    	<div id="content">
    		<p>Technomics Solutions offers our client enormous benefits. We have talented pool of software professionals.<br> Our features of Offshore Dedicated Staffing are...
    			<ul>
    				<li>Expertise Technical Engineers.</li>
    				<li>Cost Saving.</li>
    				<li>Conceptualization of Idea.</li>
    				<li>Saving Time.</li>
    				<li>New & Innovative.</li>
    				<li>Support.</li>
    				<li>Additional Activities.</li>
    				<li>Source Code retained by Client.</li>
    			</ul></p>
    	</div>
    </div>
{% endblock %}
