{% extends "base.html" %}
{% load media %}
{% load thumbnail %}
{% block title %}<title> Products | School Resource Planning | Technomics Solutions </title>{% endblock title %}
{% block body_tags %}id="schoolresourceplanning"{% endblock body_tags %}
{% block banner %}
    <div class="banner" style='background: url(/site_media/{{ services_page.banner_image }}) no-repeat;'>   
    </div>
{% endblock banner %}


{% block content %}
	<div id="school_resource_planning">
		<h2>School Resource Planning(SRP)</h2>
		<div id="top_content">
			<p>School Resource Planning is an end to end technological solution for managing day to day affairs of a school Management right from admission of a student till his exit from the school.The SRP modules have been conceptualized after a deep study about functioning of schools.
			SRP reduces the time and energy spent on Administrative task and increases the quality of education which is the ultimate aim of any Successfull School Management.SRP is an interactive platform for the entities and constituents of school viz.,Teaching Staff,Management,Students,Parents etc.</p>
		</div>
		<div id="left_content">
			<h4>Experience the Difference</h4>
			<p>The entire process of managing a school can be simplified by the means of technology. The all pervasive World Wide Web can be harnessed for the rendition of information in school.
			Now –a-day’s people prefer visiting large super markets and shopping malls, instead of visiting petty shops for their purchases. This trend has caught up with the people not only for saving lot of time and energy but also the quality and the wide range of products one gets to purchase at a competitive price.<br><br>

			Similarly what is the point in implementing stand-alone software’s   to manage different functions in school? Like the petty shops, the stand alone software’s are becoming passé like a huge super markets ,shopping malls, our SRP-a truly integrated ,cost effective and web based school management software-provides the solution for effectively managing  the entire functions of school with ease. School Resource Planning (SRP) has been designed with emphasis on the functionality, utility and report   generation to aid the school management in all spheres of school activities. It is the time to move ahead in tune with technology, an early beginning is always beneficial in the long run.</p>
		</div>
		<div id="right_content">
			<h4>Utilize the benefits of SRP</h4>
			<p>Optimization and resource utilization is the biggest challenge in school management. School Resource Planning (SRP),a web based software system, competently addresses the diverse needs of the school  management by effectively integrating all the departments of a school with a modular approach.

   			A state of the art comprehensive software, School resource Planning (SRP), encompasses a spectrum of activities for managing the functions of  a school.<br><br>

			Comprising of 23 modules covering extensively all aspects of school management –From Admissions to Alumni records –School Resource planning has been designed keeping in view of the needs required  for managing  a school effortlessly. Built with remarkably comprehensive features school resource planning (SRP) provides a powerful integration of data between modules to ensure seamless exchange of data and generate various reports instantly as and when required.

			Interactive and user friendly software, School Resource Planning incorporates the best practices that enable all stakeholders of education to collaborate and make knowledge driven decisions for the development of students.
			</p> 
		</div>

	</div>
{% endblock %}