{% extends "base.html" %}
{% load media %}
{% load thumbnail %}
{% block title %}<title> Home | Technomics Solutions </title>{% endblock title %}
{% block body_tags %}id="services_page"{% endblock body_tags %}
{% block banner %}
    <div class="banner" style='background: url(/site_media/{{ services_page.banner_image }}) no-repeat;'>   
    </div>
{% endblock banner %}


{% block content %}
    <div id="content_section">
        {% if services_page %}
            <h3> {{ services_page.content_subhead }} </h3>
            <p>  {{ services_page.description }} </p>
            <!-- <a href="software_development.html"> Read More > </a> -->
        {% endif %}
    </div>
    <div id="services_section">
        <div class="left_section">
            {% if services_left %} 
                <img src="/site_media/{{ services_left.section_image }}">
                <h3> {{ services_left.section_head }} </h3>
                <p> {{ services_left.description }} </p>
                <!-- <a href="s.html"> Read More > </a> -->
            {% endif %}   
        </div>
        <div class="right_section">
            {% if services_right %} 
                <img src="/site_media/{{ services_right.section_image }}">
                <h3> {{ services_right.section_head }} </h3>
                <p> {{ services_right.description }} </p>
                <!-- <a href="qa.html"> Read More > </a> -->
            {% endif %}
        </div>
    </div>
{% endblock %}
