{% extends "base.html" %}

{% load media %}
{% load thumbnail %}
{% block title %}<title> Home | Technomics Solutions </title>{% endblock title %}
{% block body_tags %}id="services_page"{% endblock body_tags %}
{% block content %}
    Contents
    <div id="custm_softwe_dev"  >
    	<h3> Custom Software Development </h3>
    	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    	<a href="software_development.html" > Read More > </a>
    </div>
    <div id="below_content" >
        <div id="staffing" >
            <!-- background image -->
        	<h3>  Dedicated Staffing </h3>
        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        	<a href="staffing.html"> Read More > </a>
        </div>
        <div id="qa" >
            <!-- background image -->
        	<h3> Quality Assurance </h3>
        	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        	<a href="qa.html"> Read More > </a>
        </div>
    </div>
{% endblock %}
